.idea
*.iml
build
target

.gradle
local.properties
*.lock
/app/snippets-api
/backend/out
NoBullshit/app/google-services.json

.idea/modules/nobullshit.iml

.idea/vcs.xml

android/app/google-services.json

android/gradle/wrapper/gradle-wrapper.jar

android/gradle/wrapper/gradle-wrapper.properties

android/gradlew

android/gradlew.bat

backend/.DS_Store

backend/.DS_Store

backend/.DS_Store
